#通用
Drivers
build
DebugConfig
RTE

*.lst
*.s
*Administrator
*.mxproject
*.scvd
*.ld

#Clion配置
.idea
cmake
Middlewares

#VsCode配置
.vscode

#其它（每次新增项目时，请自行添加）
/BalanceCar/MDK-ARM
/CAN_Test_C8T6/MDK-ARM/CAN_Test_C8T6
/CAN_Test_F103VET6/MDK-ARM/CAN_Test
/GM6020_Test/MDK-ARM/GM6020_Test
/MedicineBox/MDK-ARM/MedicineBox